.container {
  max-width: 960px;
  margin: 0 auto;
}

.cta-bg {
  background: url("https://cdn.pixabay.com/photo/2018/03/10/12/00/teamwork-3213924__480.jpg");
  height: 500px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.cta-text {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 500px;
  text-align: center;
}

.cta-text h2 {
  margin: 0;
}

.ficode {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.cta-btn {
  background: #fff;
  display: inline-block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #333;
  border: 2px solid transparent;
  transition: 0.5s;
  margin-top: 1rem;
  border-radius: 5px;
  text-transform: uppercase;
}
.cta-btn:hover {
  border: 2px solid white;
  background-color: transparent;
  color: #fff;
}

@media screen and (max-width: 480px) {
  .cta-text {
    padding: 0 2rem;
  }
}
